In [1]:
import pandas as pd
entries = pd.read_json('data/bigjson.txt')
entries = entries[['name','category', 'installs']]
entries.head(2)

     name       category                                           installs
0  Google          Tools  {'current': {'count': '5000000000'}, 'history'...
1   Gmail  Communication  {'current': {'count': '5000000000'}, 'history'...

In [2]:
final_df = pd.DataFrame (columns = ['date','name', 'category', 'value'])
currentdate='2020-01-01'

for _, row in entries.iterrows():
    not_wanted=['Google', 'Android', 'Samsung', 'Gmail']
    if not any(x in row['name'] for x in not_wanted):
        final_df.loc[final_df.shape[0]] = [currentdate] + [row['name']] + [row['category']] + [row['installs']['current']['count']]
        for history in row['installs']['history']:
            roundedYear = history['date'][:4] if (int(history['date'][5:7])<=6) else str(int(history['date'][:4])+1)
            roundedDate = roundedYear+'-01-01'
            final_df.loc[final_df.shape[0]] = [roundedDate] + [row['name']] + [row['category']] + [history['count']]

In [3]:
final_df.head(2)

         date                name       category       value
0  2020-01-01  WhatsApp Messenger  Communication  5000000000
1  2020-01-01  WhatsApp Messenger  Communication  5000000000

In [4]:
final_df.to_csv("data/installs_race.csv", index=False)